[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 43896610
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"
