modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Serve Tutorial Website"

[[workflows.workflow]]
name = "Serve Tutorial Website"
author = 43892601
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"
